.ant-layout-content {
    padding: 0 30px;
    min-height:70vh !important;
}
.ant-menu-horizontal{
    line-height: 64px !important;
}
.ant-menu{
    font-size: 16px !important;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
}
.ant-layout-header{
    position: sticky;
    top: 0;
    z-index: 10;
}